header {
  padding: 150px 0 100px;
}

body, html {
  height: 100%;
}

.jumbotron{
    background: url(../assets/img/chicago.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
}

.navbar {
  background:none;
  margin-bottom: 0;
  margin-top: 0;
  background-size: cover;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.circle{
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.list-inline-item {
  display: run-in;
  margin-bottom: 0.5em;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
p.lead3 {
  font-size: 20px;
  font-family: "Work Sans — Extra-light 200";
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}
p.lead2 {
    font-family: "Work Sans — Regular";
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}
li i{
    display: inline-block;
}

h2.head4 {
    margin-top: 1.3em;
    font-family: "Work Sans — Regular";
    font-size: 25px;
}
h2.head2 {
    font-family: "Work Sans — Regular";
    font-size: 25px;
}
h2.head3 {
    margin-top: 2em;
    font-family: "Work Sans — Regular";
    font-size: 25px;
}
.head2 {
    margin-top:340px;
}
.game iframe {
    position: center;
    width: 100%;
    height: 100%;
    border: 0;
}

#resume {
     width: 900px;
     margin: 0 auto;
}
h1 {
    font-family: "Work Sans — Regular";
    font-size: 25px;
}

p.lead {
  font-family: "Work Sans — Regular";
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}
a.btn btn-dark  btn-xl js-scroll-trigger {
    display: inline-block;
    text-align: center;
    font-size: 25px;
}

p.ld3 {
    font-family: "Work Sans — Extra-light 200";
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
p.lead3{
    font-family: "Work Sans — Extra-light 200";
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}
h2.head4 {
    margin-top: 2em;
    font-family: "Work Sans — Regular";
    font-size: 30px;
}
h2.head5 {
    margin-top: 2em;
    font-family: "Work Sans — Regular";
    font-size: 30px;
}
p.lead4{
    font-family: "Work Sans — Extra-light 200";
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}
.courses{
    font-family: "Work Sans — Regular";
    font-size: 30px;
    text-align: center;
}
.fas fa-check {
    font-size: 45px;
}


