header {
  padding: 200px 200px 250px;
}
section.bg-light{
    padding: 250px 200px 200px;
}
section.skl{
    padding: 75px 200px 150px;
}
section.bg-dark{
    padding: 50px 200px 150px;
}
body, html {
  height: 100%;
}
.navbar {
  background:none;
  margin-bottom: 0;
  margin-top: 0;
  background-size: cover;
}
.masthead-avatar {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.masthead-avatar img {
  width: 100%;
  height: 100%;
}
img.image-fluid{
    width:100%;
    height:100%;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
.circle{
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.list-inline-item {
  display: run-in;
  margin-bottom: 0.5em;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
p.lead3 {
  font-size: 20px;
  font-family: "Work Sans — Extra-light 200";
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}
p.lead2 {
    font-family: "Work Sans — Extra-light 200";
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}
li i{
    display: inline-block;
}

h2.head4 {
    font-family: "Work Sans — Regular";
    font-size: 25px;
}
h2.head2 {
    font-family: "Work Sans — Regular";
    font-size: 25px;
}
h1.head3 {
    font-family: "Work Sans — Regular";
    font-size: 30px;
}
.head2 {
    margin-top:360px;
}
.game iframe {
    position: center;
    width: 100%;
    height: 100%;
    border: 0;
}
h1 {
    font-family: "Work Sans — Regular";
    font-size: 30px;
}

p.lead {
  font-family: "Work Sans — Regular";
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}
a.btn {
    font-family: "Work Sans — Regular";
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

p.ld3 {
    font-family: "Work Sans — Extra-light 200";
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}
p.lead3{
    font-family: "Work Sans — Extra-light 200";
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}

h2.head4 {
    margin-top: 2em;
    font-family: "Work Sans — Regular";
    font-size: 30px;
}

p.lead4{
    font-family: "Work Sans — Extra-light 200";
    font-size: 25px;

}
section.contact{
    padding: 100px;
}
.courses{
    font-family: "Work Sans — Extra-light 200";
    font-size: 30px;
    text-align: center;
}
.fas fa-check {
    font-size: 45px;
}
li.nav-item {
    font-family: "Work Sans — Regular";
    font-size: 20px;
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    header {
      padding: 100px 100px 150px;
    }
    section.bg-light{
        padding: 150px 100px 100px;
    }
    section.skl{
        padding: 75px 100px 150px;
    }
    section.bg-dark{
        padding: 50px 100px 150px;
    }

    body, html {
      height: 100%;
    }

      h1 {
          font-family: "Work Sans — Regular";
          font-size: 18px;
      }

    p.lead {
        font-family: "Work Sans — Regular";
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    a.btn {
        font-family: "Work Sans — Regular";
        display: inline-block;
        text-align: center;
        font-size: 14px;
    }
    .masthead-avatar {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
    .masthead-avatar img {
      width: 100%;
      height: 100%;
    }
    p.lead2 {
        font-family: "Work Sans — Extra-light 200";
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        align: center;
    }

    h1.head3 {
        font-family: "Work Sans — Regular";
        font-size: 18px;
    }
    p.ld3 {
        font-family: "Work Sans — Extra-light 200";
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .image-fluid img {
        width:100%;
    }
    p.lead3{
        font-family: "Work Sans — Extra-light 200";
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        align: center;

    }
    h1.head4 {
        font-family: "Work Sans — Regular";
        font-size: 18px;
    }
    .list-inline-item {
      display: run-in;
      margin-bottom: 0.5em;
    }

    .list-inline-item:not(:last-child) {
      margin-right: 0.5rem;
    }
    .list-inline {
      padding-left: 0;
      list-style: none;
    }
    li i{
        display: inline-block;
    }
    h1.courses{
        font-family: "Work Sans — Regular";
        font-size: 18px;
        text-align: center;
    }
    .fas fa-check {
        font-size: 18px;
    }
    li.nav-item {
        font-family: "Work Sans — Regular";
        font-size: 18px;
    }
    p.lead4{
        font-family: "Work Sans — Extra-light 200";
        font-size: 18px;

    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  header {
        padding: 100px 100px 150px;
      }
      section.bg-light{
          padding: 150px 100px 100px;
      }
      section.skl{
          padding: 75px 100px 150px;
      }
      section.bg-dark{
          padding: 50px 100px 150px;
      }

      body, html {
        height: 100%;
      }

        h1 {
            font-family: "Work Sans — Regular";
            font-size: 18px;
        }

      p.lead {
          font-family: "Work Sans — Regular";
          font-size: 16px;
          margin-left: auto;
          margin-right: auto;
      }
      a.btn {
          font-family: "Work Sans — Regular";
          display: inline-block;
          text-align: center;
          font-size: 14px;
      }
      .masthead-avatar {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      .masthead-avatar img {
        width: 100%;
        height: 100%;
      }
      p.lead2 {
          font-family: "Work Sans — Extra-light 200";
          font-size: 16px;
          margin-left: auto;
          margin-right: auto;
          height: auto;
          align: center;
      }

      h1.head3 {
          font-family: "Work Sans — Regular";
          font-size: 18px;
      }
      p.ld3 {
          font-family: "Work Sans — Extra-light 200";
          font-size: 16px;
          margin-left: auto;
          margin-right: auto;
      }
      .image-fluid img {
          width:100%;
      }
      p.lead3{
          font-family: "Work Sans — Extra-light 200";
          font-size: 16px;
          margin-left: auto;
          margin-right: auto;
          align: center;

      }
      h1.head4 {
          font-family: "Work Sans — Regular";
          font-size: 18px;
      }
      .list-inline-item {
        display: run-in;
        margin-bottom: 0.5em;
      }

      .list-inline-item:not(:last-child) {
        margin-right: 0.5rem;
      }
      .list-inline {
        padding-left: 0;
        list-style: none;
      }
      li i{
          display: inline-block;
      }
      h1.courses{
          font-family: "Work Sans — Regular";
          font-size: 18px;
          text-align: center;
      }
      .fas fa-check {
          font-size: 18px;
      }
      li.nav-item {
          font-family: "Work Sans — Regular";
          font-size: 18px;
      }
      p.lead4{
          font-family: "Work Sans — Extra-light 200";
          font-size: 18px;

      }

}



